.bodysection {
    padding: 15% 10% 10%;
}

.bodysection__title {
    font-family: 'DM Serif Display', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 4rem;
}

.bodysection__featureitems {
    display: flex;
}

@media screen and (max-width: 960px) {
    .bodysection {
        text-align: center;
    }  
}