.footer {
    background-color: hsl(0, 0%, 98%);
    padding: 5% 10%;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-bottom: 2%;
}

.footerlinks, .footerlinks__subtitle {
    display: flex;
    list-style-type: none;
}

.footerlinks__subtitle a {
    color: gray;
}

.footerlinks__title {
    margin-right: 8rem;
    font-family: 'Karla', sans-serif;
}

.footer__social__links {
    padding-right: 0;
}

@media screen and (max-width: 960px) {
    .footer {
        text-align: center;
    }

    .footerlinks {
        flex-direction: column;
    }

    .footer__top {
        flex-direction: column;
    }

    .footer__social__links {
        padding-right: 1rem;
    }

    .footer__logo {
        padding-left: 1rem;
    }

    .footerlinks__title {
        margin-right: 0;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .footerlinks__subtitle {
        justify-content: center;
    }

    .footerlinks__subtitle:first-child {
        margin-top: 1.5rem;
    }
}
