@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
font-family: 'DM Serif Display', serif;
font-family: 'Karla', sans-serif; */
